@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

main {
    padding: 16px;
    margin-bottom: 24px;  /* Space for footer */
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

header {
    background-color: #FA5A34;
}

footer {
    background-color: #b5cf65;
    padding: 24px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Detail page main padding override */
.detail-main {
    padding: 36px;
}
